@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
	margin: 0; 
	padding: 0;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

header{
	width: 100%;
	height: 70px;
	background-color: #C21718;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;


}
nav{
	display: flex;
	gap: 50px;
}
nav a {
	color: #ffffff; 
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;

}

.intro {
	max-width: 1200px;
	margin: 40px auto;
	margin-left: 15px;
	padding: 0 20px;
	text-align: left;
}

.intro h2 {
	font-size: 28px;
	margin-bottom: 20px;
	color: #C21718;
}

.intro a {
	font-size: 18px;
	margin-bottom: 20px;
	color: black;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 20px;
}


.intro p {
	font-size: 18px;
	line-height: 1.6;
	color: #000000;
}




.recetas-contenedor {
	display: flex;
	justify-content: space-around;
	padding: 40px;
	gap: 30px;
	text-align: center;
}

.receta {
	width: 300px;
}

.receta h3 {
	margin-top: 20px;
	font-size: 25px;
	text-align: center;
	color: #000000;
}

.imagen-cuadro {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
}

.imagen-cuadro img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 20px;
}

.titulo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 30px;
	font-weight: bold; 
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 20px;
}


.ingredientes {
	border: 3px solid #C21718;
	padding: 20px;
	width: fit-content;
	height: fit-content;
	margin: 40px auto;
	margin-left: 0px;
	padding: 10 20px;
	text-align: left;
	border-radius: 20px;
}

.ingredientes h3 {
	margin-top: 0;
	margin-bottom: 10px;
	color: #C21718;
}

.ingredientes ul {
	padding-left: 20px;
}

.ingredientes li {
	margin-bottom: 8px;
}

.preparacion {
	max-width: auto;
	text-align: left;
}

.preparacion h3 {
	margin-top: 0;
	margin-bottom: 10px;
	color: #C21718;
}

.preparacion ul {
	margin-bottom: 8px;
	margin-left: 30px;
	font-size: 16px;
	line-height: 1.6;
	color: #000000;
}

.preparacion ol {
	margin-bottom: 8px;
	margin-left: 30px;
	font-size: 16px;
	line-height: 1.6;
	color: #000000;
}

.imagen {
	height: 300px;
	overflow: hidden;
	display: flex;
	align-items: left;
	justify-content: left;
	margin: 40px auto;
}

.imagen img {
	border-radius: 20px;
}

.anterior {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}

.anterior a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #C21718;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
	color: white;
	font-size: 18px;
	font-weight: bold;
}